.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  margin-bottom: 80px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

.carre-contenu + div {
  text-align: center;
}

.a-propos-main {
  width: 50%;
  margin: auto;
}
.container-tarifs {
  background-color: rgba(255, 255, 255, 0.09);
  text-align: center;
}
.container-tarifs h2 {
  margin-bottom: 1rem;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #8e86b5;
  width: 100%;
}
table tr,table td,table th {
  border: 1px solid #8e86b5;
  color: #b6b6b6;
}
table td{
  padding: 1.5rem;
}

table th {
  padding: .5rem;
}
