.accueil-photos {
  background-color: white;
  padding: 80px;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: flex-start;
  margin: auto;
}

.accueil-introduction h1 {
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-bottom: 30px;
}

.accueil-introduction div {
  padding-right: 80px;
}

.section-contact h2 {
  color: #a5b4fc;
  text-align: center;
  margin-bottom: 1.5em;
}

.section-contact form {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: auto;
  gap: 1rem;
  color: #fff;
}
.section-contact form > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.section-contact form button {
  background: linear-gradient(#696484, #8788ba);
  color: white;
  border: 0;
  border-radius: 50px;
  padding: 20px 30px;
  align-self: center;
  width: 50%;
  margin: auto;
  cursor: pointer;
}
.section-contact form label {
}
.container-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}
.container-input:first-child {
  margin-right: 1rem;
}
.container-input label{
  width: 100%;
}
.container-input input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a5b4fc;
}
.section-contact form button:hover {
  background: linear-gradient(#8e86b5, #acaeed);
}
.section-contact form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a5b4fc;
  resize: none;
}